In [1]:
import pandas as pd

In [2]:
train = pd.read_csv(r'C:\Users\tejus\Desktop\Final yr project\Features\Features\Actual\HMM\MatMul_train_HMM_actual.csv')

In [3]:
test = pd.read_csv(r'C:\Users\tejus\Desktop\Final yr project\Features\Features\Actual\HMM\MatMul_test_HMM_actual.csv')

In [4]:
Y_train = train[['Membrane','Cytoplasm','Nucleus','Extracellular','Cell membrane','Mitochondrion','Plastid','Endoplasmic reticulum','Lysosome/Vacuole','Golgi apparatus','Peroxisome']]

In [5]:
test.columns

Index(['sid', 'Cell membrane', 'Cytoplasm', 'Endoplasmic reticulum',
       'Golgi apparatus', 'Lysosome/Vacuole', 'Mitochondrion', 'Nucleus',
       'Peroxisome', 'Lengths',
       ...
       'Feat_391', 'Feat_392', 'Feat_393', 'Feat_394', 'Feat_395', 'Feat_396',
       'Feat_397', 'Feat_398', 'Feat_399', 'Feat_400'],
      dtype='object', length=411)

In [6]:
Y_test = test[['Cytoplasm','Nucleus','Cell membrane','Mitochondrion','Endoplasmic reticulum','Lysosome/Vacuole','Golgi apparatus','Peroxisome']]

In [7]:
new_columns = {'Membrane': [0]*len(Y_test),
               'Extracellular': [0]*len(Y_test),
               'Plastid': [0]*len(Y_test)}

# Convert the dictionary to a DataFrame
new_columns_df = pd.DataFrame(new_columns)

# Concatenate the existing DataFrame and the new DataFrame along axis 1 (columns)
Y_test = pd.concat([Y_test, new_columns_df], axis=1)

In [8]:
order =['Membrane','Cytoplasm','Nucleus','Extracellular','Cell membrane','Mitochondrion','Plastid','Endoplasmic reticulum','Lysosome/Vacuole','Golgi apparatus','Peroxisome']
Y_test=Y_test[order]

In [9]:
Y_test

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1680,0,0,0,0,0,1,0,0,0,0,0
1681,0,1,0,0,0,0,0,0,0,0,0
1682,0,1,0,0,0,0,0,0,0,0,0
1683,0,0,1,0,0,0,0,0,0,0,0
1684,0,0,0,0,0,1,0,0,0,0,0

In [10]:
trainMM=pd.read_csv("actualtrainprotbertnew.csv")
testMM=pd.read_csv("actualtestprotbert_new.csv")

In [11]:
trainMM

,Unnamed: 0,Sequence,feature
0,0,M A A A A A A A A A A G A A G G R G S G P G R ...,"[-0.3655, -0.5054, 0.557, 0.4814, -0.04416, 0...."
1,1,M A A A A A A A A A A G A A G G R G S G P G R ...,"[-0.366, -0.505, 0.557, 0.4814, -0.0437, 0.287..."
2,2,M A A A A A A A A A L G V R L R D C C S R G A ...,"[-0.539, 0.0634, 0.658, 0.597, 0.425, 0.4614, ..."
3,3,M A A A A A A A A A T E Q Q G S N G P V K K S ...,"[-0.393, 0.02625, 0.6255, 0.4604, 0.3232, 0.35..."
4,4,M A A A A A A A A A T N G T G G S S G M E V D ...,"[-0.1179, -0.6226, 0.4956, 0.3452, -0.1606, 0...."
...,...,...,...
28298,28298,M Y Y I G H P S Y Y R K H I E H V C F Q H S G ...,"[-0.5093, 0.3918, 0.2003, -0.2698, -0.1458, -0..."
28299,28299,M Y Y P V G W P K R V G L A L P G E S A S I R ...,"[-0.3154, -0.4834, 0.55, 0.5024, -0.01001, 0.2..."
28300,28300,M Y Y Q N Q H Q G K N I L S S S R M H I T S E ...,"[0.02031, -0.576, 0.3389, 0.1393, -0.0762, 0.5..."
28301,28301,M Y Y Q N Q H Q G K N I L S S S R M H I T S E ...,"[0.01884, -0.575, 0.3386, 0.1396, -0.07587, 0...."
28302,28302,M Y Y Y L E I E C E S P V K D I F T C N K R R ...,"[-0.2517, -0.6055, 0.4907, 0.3943, -0.1871, 0...."

In [12]:
Y_train

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28298,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28299,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28300,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28301,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28302,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
trainMM

,Unnamed: 0,Sequence,feature
0,0,M A A A A A A A A A A G A A G G R G S G P G R ...,"[-0.3655, -0.5054, 0.557, 0.4814, -0.04416, 0...."
1,1,M A A A A A A A A A A G A A G G R G S G P G R ...,"[-0.366, -0.505, 0.557, 0.4814, -0.0437, 0.287..."
2,2,M A A A A A A A A A L G V R L R D C C S R G A ...,"[-0.539, 0.0634, 0.658, 0.597, 0.425, 0.4614, ..."
3,3,M A A A A A A A A A T E Q Q G S N G P V K K S ...,"[-0.393, 0.02625, 0.6255, 0.4604, 0.3232, 0.35..."
4,4,M A A A A A A A A A T N G T G G S S G M E V D ...,"[-0.1179, -0.6226, 0.4956, 0.3452, -0.1606, 0...."
...,...,...,...
28298,28298,M Y Y I G H P S Y Y R K H I E H V C F Q H S G ...,"[-0.5093, 0.3918, 0.2003, -0.2698, -0.1458, -0..."
28299,28299,M Y Y P V G W P K R V G L A L P G E S A S I R ...,"[-0.3154, -0.4834, 0.55, 0.5024, -0.01001, 0.2..."
28300,28300,M Y Y Q N Q H Q G K N I L S S S R M H I T S E ...,"[0.02031, -0.576, 0.3389, 0.1393, -0.0762, 0.5..."
28301,28301,M Y Y Q N Q H Q G K N I L S S S R M H I T S E ...,"[0.01884, -0.575, 0.3386, 0.1396, -0.07587, 0...."
28302,28302,M Y Y Y L E I E C E S P V K D I F T C N K R R ...,"[-0.2517, -0.6055, 0.4907, 0.3943, -0.1871, 0...."

In [14]:
def parse_features(feature_string):
    feature_string = str(feature_string)
    feature_list = feature_string.strip('[]').split(',')
    feature_list = [float(val) for val in feature_list]
    return feature_list

In [15]:
trainMM['feature_list'] = trainMM['feature'].apply(parse_features)# Create a new DataFrame with each feature as a separate column
trainMM = pd.DataFrame(trainMM['feature_list'].tolist())
trainMM.columns = [f'Feat{i}' for i in range(1, 1025)]

In [16]:
testMM['feature_list'] = testMM['feature'].apply(parse_features)# Create a new DataFrame with each feature as a separate column
testMM = pd.DataFrame(testMM['feature_list'].tolist())
testMM.columns = [f'Feat{i}' for i in range(1, 1025)]

In [17]:
trainMM

,Feat1,Feat2,Feat3,Feat4,Feat5,Feat6,Feat7,Feat8,Feat9,Feat10,...,Feat1015,Feat1016,Feat1017,Feat1018,Feat1019,Feat1020,Feat1021,Feat1022,Feat1023,Feat1024
0,-0.36550,-0.50540,0.5570,0.4814,-0.04416,0.2888,-0.5220,-0.1694,0.1843,0.08997,...,-0.1129,0.2930,0.59000,0.09180,0.5550,-0.34200,0.6626,-0.18860,-0.32810,0.2890
1,-0.36600,-0.50500,0.5570,0.4814,-0.04370,0.2876,-0.5215,-0.1687,0.1840,0.08880,...,-0.1118,0.2935,0.59030,0.09064,0.5550,-0.34230,0.6620,-0.18710,-0.32960,0.2890
2,-0.53900,0.06340,0.6580,0.5970,0.42500,0.4614,-0.6226,0.0915,0.1707,-0.29830,...,0.3042,-0.2560,0.04352,-0.38750,0.5747,0.24980,-0.4045,0.09030,-0.24930,-0.1974
3,-0.39300,0.02625,0.6255,0.4604,0.32320,0.3584,-0.5270,-0.1482,0.2522,-0.26830,...,0.2842,-0.3933,-0.03207,-0.32810,0.4897,0.39260,-0.3958,0.15550,-0.12990,-0.1443
4,-0.11790,-0.62260,0.4956,0.3452,-0.16060,0.4841,-0.4820,-0.3188,0.3530,0.33640,...,-0.3523,-0.1769,0.15610,0.20000,0.4985,-0.07043,0.6104,-0.37770,0.17640,0.3225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28298,-0.50930,0.39180,0.2003,-0.2698,-0.14580,-0.2122,-0.3652,0.4260,0.4148,-0.40110,...,0.5464,-0.3113,0.34620,-0.06240,0.4438,-0.29830,-0.1919,-0.13700,-0.30420,0.3333
28299,-0.31540,-0.48340,0.5500,0.5024,-0.01001,0.2578,-0.4827,-0.1991,0.2043,0.04312,...,-0.0776,0.2708,0.56800,0.01913,0.5240,-0.27930,0.6240,-0.11237,-0.34520,0.2363
28300,0.02031,-0.57600,0.3389,0.1393,-0.07620,0.5690,-0.3420,-0.2057,0.4524,0.30900,...,-0.3206,-0.6025,-0.30440,0.08310,0.3345,0.14810,0.3777,-0.46680,0.42870,0.3464
28301,0.01884,-0.57500,0.3386,0.1396,-0.07587,0.5690,-0.3430,-0.2050,0.4526,0.30860,...,-0.3196,-0.6035,-0.30620,0.08154,0.3345,0.14970,0.3745,-0.46500,0.42920,0.3457
28302,-0.25170,-0.60550,0.4907,0.3943,-0.18710,0.3606,-0.5280,-0.2554,0.2800,0.29080,...,-0.2940,0.0766,0.40800,0.21260,0.5340,-0.26300,0.6763,-0.32250,-0.02544,0.3416

In [18]:
Y_train

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28298,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28299,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28300,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28301,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28302,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
col=[]
for m in Y_train.columns:
    col.append(m)

In [20]:
trainMM.fillna(0,inplace=True)
testMM.fillna(0,inplace=True)

In [39]:
params = {
    'max_depth': 100,
    'min_samples_split': 10,
    'min_samples_leaf': 5,
    'max_features': 'sqrt',
    'criterion': 'gini',
    'class_weight': 'balanced'
}
models=[]
from sklearn.tree import DecisionTreeClassifier
for i in range(len(col)):
    knn=DecisionTreeClassifier()
    knn.fit(trainMM, Y_train[col[i]]) 
    # print(models.predict(X2))
    models.append(knn)

In [40]:
for i in range(len(models)):
    print(models[i].score(trainMM, Y_train[col[i]]))

0.9999293361127796
0.9999293361127796
0.9999646680563897
1.0
1.0
1.0
0.9999646680563897
1.0
1.0
1.0
1.0

In [41]:
dd1=[]
for i in range(len(models)):
    dd1.append(models[i].predict(trainMM))

In [42]:
data_f1 = pd.DataFrame(dd1,index=Y_train.columns)

In [43]:
data_f1=data_f1.transpose()

In [44]:
data_f1

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28298,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28299,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28300,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28301,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28302,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
Y_train

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28298,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28299,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28300,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28301,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28302,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
sum1=0
for i in range(len(Y_train)):
    c=0
    for j in range(len(Y_train.iloc[i])):
        if Y_train.iloc[i][j]==data_f1.iloc[i][j]:
            c+=1
    sum1=sum1+c/len(Y_train.iloc[i])

sum1/len(Y_train)

0.9999807280307581

In [47]:
sum=0
for i in range(len(Y_train)):
    sum+=(data_f1.iloc[i,:]==Y_train.iloc[i,:]).all()
sum/len(Y_train)

0.9998940041691693

In [48]:
testMM

,Feat1,Feat2,Feat3,Feat4,Feat5,Feat6,Feat7,Feat8,Feat9,Feat10,...,Feat1015,Feat1016,Feat1017,Feat1018,Feat1019,Feat1020,Feat1021,Feat1022,Feat1023,Feat1024
0,0.01654,-0.57800,0.3280,0.13650,-0.08550,0.5615,-0.3442,-0.19980,0.456000,0.3127,...,-0.32060,-0.60500,-0.3037,0.08170,0.33150,0.1417,0.37770,-0.4656,0.43140,0.35200
1,-0.22340,-0.57470,0.2461,0.21040,-0.20690,0.2434,-0.4438,-0.07806,0.280000,0.2670,...,-0.23560,-0.09656,0.3071,0.18190,0.38450,-0.3362,0.62060,-0.3790,0.05853,0.40920
2,-0.57400,-0.43530,-0.4414,-0.11554,-0.14160,-0.2798,-0.3755,0.59960,-0.000732,0.0404,...,0.11176,-0.09310,0.5040,-0.02777,-0.02216,-0.7500,0.52640,-0.3662,-0.19460,0.62000
3,0.11170,-0.02681,0.3657,0.13900,0.30100,0.1587,0.1619,-0.19180,0.457800,-0.4077,...,0.31520,-0.49000,-0.0865,-0.48560,0.05884,0.4302,-0.10925,0.2296,-0.28440,0.05405
4,-0.25760,-0.49930,0.2925,0.25100,-0.20850,0.1556,-0.4456,-0.09280,0.294200,0.1732,...,-0.13700,-0.01403,0.3916,0.11615,0.40970,-0.3218,0.58060,-0.2560,-0.06520,0.37350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680,-0.47780,0.28500,0.1950,-0.16860,0.05730,-0.1155,-0.3733,0.40380,0.195000,-0.4373,...,0.56100,-0.22330,0.4360,-0.06020,0.34700,-0.3801,-0.09340,-0.2123,-0.34160,0.30860
1681,-0.36230,-0.51660,0.4941,0.41700,-0.15670,0.2191,-0.5444,-0.18270,0.238400,0.1576,...,-0.14390,0.19030,0.5330,0.11930,0.53760,-0.3171,0.62940,-0.1771,-0.21440,0.32420
1682,-0.20890,-0.61570,0.4300,0.29540,-0.22990,0.3992,-0.5060,-0.22410,0.338900,0.3398,...,-0.33060,-0.10020,0.2730,0.23520,0.50500,-0.2288,0.65100,-0.3980,0.12290,0.40260
1683,0.01212,-0.56350,0.3013,0.12415,-0.08435,0.5415,-0.3396,-0.17880,0.452100,0.2993,...,-0.30130,-0.61230,-0.3113,0.06866,0.31540,0.1368,0.34740,-0.4565,0.43070,0.34420
1684,-0.59600,-0.41670,-0.4202,-0.12830,-0.14440,-0.2554,-0.3916,0.61770,0.011090,0.0456,...,0.11224,-0.09937,0.5024,-0.01150,0.01700,-0.7554,0.52050,-0.3928,-0.19370,0.62840

In [49]:
Y_test

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1680,0,0,0,0,0,1,0,0,0,0,0
1681,0,1,0,0,0,0,0,0,0,0,0
1682,0,1,0,0,0,0,0,0,0,0,0
1683,0,0,1,0,0,0,0,0,0,0,0
1684,0,0,0,0,0,1,0,0,0,0,0

In [50]:
dd2=[]
for i in range(len(models)):
    dd2.append(models[i].predict(testMM))

In [51]:
data_f2 = pd.DataFrame(dd2,index=Y_train.columns)

In [52]:
data_f2=data_f2.transpose()

In [53]:
data_f2

,Membrane,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasmic reticulum,Lysosome/Vacuole,Golgi apparatus,Peroxisome
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1681,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1683,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1684,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [54]:
sum1=0
for i in range(len(Y_test)):
    c=0
    for j in range(len(Y_test.iloc[i])):
        if Y_test.iloc[i][j]==data_f2.iloc[i][j]:
            c+=1
    sum1=sum1+c/len(Y_test.iloc[i])

sum1/len(Y_test)

0.8492042082546626

In [55]:
sum=0
for i in range(len(Y_test)):
    sum+=(data_f2.iloc[i,:]==Y_test.iloc[i,:]).all()
sum/len(Y_test)

0.20059347181008902