In [1]:
import pandas as pd

In [2]:
train = pd.read_csv(r'C:\Users\tejus\Desktop\Final yr project\Features\Features\Independent\HMM\MatMul_train_HMM_independent.csv')

In [3]:
test = pd.read_csv(r'C:\Users\tejus\Desktop\Final yr project\Features\Features\Independent\HMM\MatMul_test_HMM_independent.csv')

In [4]:
Y_train = train[['Cellwall','Cytoplasm','Nucleus','Extracellular','Cellmembrane','Mitochondrion','Plastid','Endoplasm','Vacuole','Golgi Apparatus','Peroxisome']]

In [5]:
test.columns

Index(['id', 'sequence', 'Cell membrane', 'Cell wall', 'Cytoplasm',
       'Endoplasm', 'Extracellular', 'Golgi Apparatus', 'Mitochondrion',
       'Nucleus',
       ...
       'Feat_391', 'Feat_392', 'Feat_393', 'Feat_394', 'Feat_395', 'Feat_396',
       'Feat_397', 'Feat_398', 'Feat_399', 'Feat_400'],
      dtype='object', length=414)

In [6]:
Y_test=test[['Cell membrane','Cytoplasm','Endoplasm','Golgi Apparatus','Vacuole','Mitochondrion','Nucleus','Peroxisome']]

In [7]:
new_columns = {'Cellwall': [0]*len(Y_test),
               'Extracellular': [0]*len(Y_test),
               'Plastid': [0]*len(Y_test)}

# Convert the dictionary to a DataFrame
new_columns_df = pd.DataFrame(new_columns)

# Concatenate the existing DataFrame and the new DataFrame along axis 1 (columns)
Y_test = pd.concat([Y_test, new_columns_df], axis=1)

In [8]:
order =['Cellwall','Cytoplasm','Nucleus','Extracellular','Cell membrane','Mitochondrion','Plastid','Endoplasm','Vacuole','Golgi Apparatus','Peroxisome']
Y_test=Y_test[order]

In [9]:
Y_test

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
621,0,0,0,0,0,0,0,0,1,0,0
622,0,0,0,0,0,0,0,0,1,0,0
623,0,0,0,0,0,0,0,0,1,0,0
624,0,0,0,0,0,0,0,0,1,0,0
625,0,0,0,0,0,0,0,0,1,0,0

In [10]:
trainMM=pd.read_csv("indetrainprotbertnew.csv")
testMM=pd.read_csv("indetestprotbertnew.csv")

In [11]:
trainMM

,Unnamed: 0,sequence,Length,feature
0,0,M G E T A A A N N H R H H H H H G H Q V F D V ...,493,"[-0.5034, 0.05203, 0.6416, 0.583, 0.4343, 0.40..."
1,1,M D I K E D D E S R V I T P T E L Q L H D S V ...,467,"[-0.48, 0.04877, 0.635, 0.5693, 0.4446, 0.3865..."
2,2,M E I E A S R Q Q T T V P V S V G G G N F P V ...,703,"[-0.4958, 0.1495, 0.654, 0.5127, 0.359, 0.3228..."
3,3,M D N D G G A P P P P P T L V V E E P K K A E ...,1286,"[-0.528, 0.02325, 0.6685, 0.605, 0.3975, 0.446..."
4,4,M V S D A S K K K A A Q K K A A A A A K R G G ...,595,"[-0.347, -0.5293, 0.5327, 0.472, -0.09686, 0.2..."
...,...,...,...,...
3548,3548,M V R N K S V F V V L L F S L F L S F G L L C ...,605,"[-0.08716, 0.113, 0.3005, -0.2712, 0.5854, 0.5..."
3549,3549,D N A E I E K I L L E E H E K E T H H R R G L ...,275,"[-0.4485, 0.3904, 0.257, -0.2183, 0.0486, -0.1..."
3550,3550,M V R N K S A C V V L L F S L F L S F G L L C ...,588,"[-0.09344, 0.10126, 0.298, -0.2659, 0.5845, 0...."
3551,3551,M L L A I A F L A S V C V S S R S D Q E N P F ...,410,"[-0.10065, 0.08264, 0.2407, -0.293, 0.564, 0.5..."
3552,3552,M A A T T M K A S F P L L M L M G I S F L A S ...,459,"[-0.1394, 0.211, 0.309, -0.3154, 0.557, 0.4998..."

In [12]:
Y_train

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cellmembrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3548,0,0,0,0,0,0,0,0,1,0,0
3549,0,0,0,0,0,0,0,0,1,0,0
3550,0,0,0,0,0,0,0,0,1,0,0
3551,0,0,0,0,0,0,0,0,1,0,0
3552,0,0,0,0,0,0,0,0,1,0,0

In [13]:
trainMM

,Unnamed: 0,sequence,Length,feature
0,0,M G E T A A A N N H R H H H H H G H Q V F D V ...,493,"[-0.5034, 0.05203, 0.6416, 0.583, 0.4343, 0.40..."
1,1,M D I K E D D E S R V I T P T E L Q L H D S V ...,467,"[-0.48, 0.04877, 0.635, 0.5693, 0.4446, 0.3865..."
2,2,M E I E A S R Q Q T T V P V S V G G G N F P V ...,703,"[-0.4958, 0.1495, 0.654, 0.5127, 0.359, 0.3228..."
3,3,M D N D G G A P P P P P T L V V E E P K K A E ...,1286,"[-0.528, 0.02325, 0.6685, 0.605, 0.3975, 0.446..."
4,4,M V S D A S K K K A A Q K K A A A A A K R G G ...,595,"[-0.347, -0.5293, 0.5327, 0.472, -0.09686, 0.2..."
...,...,...,...,...
3548,3548,M V R N K S V F V V L L F S L F L S F G L L C ...,605,"[-0.08716, 0.113, 0.3005, -0.2712, 0.5854, 0.5..."
3549,3549,D N A E I E K I L L E E H E K E T H H R R G L ...,275,"[-0.4485, 0.3904, 0.257, -0.2183, 0.0486, -0.1..."
3550,3550,M V R N K S A C V V L L F S L F L S F G L L C ...,588,"[-0.09344, 0.10126, 0.298, -0.2659, 0.5845, 0...."
3551,3551,M L L A I A F L A S V C V S S R S D Q E N P F ...,410,"[-0.10065, 0.08264, 0.2407, -0.293, 0.564, 0.5..."
3552,3552,M A A T T M K A S F P L L M L M G I S F L A S ...,459,"[-0.1394, 0.211, 0.309, -0.3154, 0.557, 0.4998..."

In [14]:
def parse_features(feature_string):
    feature_string = str(feature_string)
    feature_list = feature_string.strip('[]').split(',')
    feature_list = [float(val) for val in feature_list]
    return feature_list

In [15]:
trainMM['feature_list'] = trainMM['feature'].apply(parse_features)# Create a new DataFrame with each feature as a separate column
trainMM = pd.DataFrame(trainMM['feature_list'].tolist())
trainMM.columns = [f'Feat{i}' for i in range(1, 1025)]

In [16]:
testMM['feature_list'] = testMM['feature'].apply(parse_features)# Create a new DataFrame with each feature as a separate column
testMM = pd.DataFrame(testMM['feature_list'].tolist())
testMM.columns = [f'Feat{i}' for i in range(1, 1025)]

In [17]:
trainMM

,Feat1,Feat2,Feat3,Feat4,Feat5,Feat6,Feat7,Feat8,Feat9,Feat10,...,Feat1015,Feat1016,Feat1017,Feat1018,Feat1019,Feat1020,Feat1021,Feat1022,Feat1023,Feat1024
0,-0.50340,0.05203,0.6416,0.5830,0.43430,0.4030,-0.59600,-0.006330,0.1640,-0.3120,...,0.3206,-0.31300,0.01137,-0.41480,0.52200,0.3289,-0.4524,0.1699,-0.2236,-0.2218
1,-0.48000,0.04877,0.6350,0.5693,0.44460,0.3865,-0.56800,-0.040160,0.1729,-0.3254,...,0.3293,-0.34640,-0.00949,-0.43380,0.49270,0.3650,-0.4650,0.1976,-0.2202,-0.2208
2,-0.49580,0.14950,0.6540,0.5127,0.35900,0.3228,-0.57700,-0.067140,0.2448,-0.3420,...,0.3665,-0.35030,0.01143,-0.39970,0.54050,0.3955,-0.5100,0.2463,-0.2228,-0.2036
3,-0.52800,0.02325,0.6685,0.6050,0.39750,0.4465,-0.63570,0.001756,0.1820,-0.2617,...,0.2732,-0.27700,0.02704,-0.37450,0.57670,0.3027,-0.4087,0.1322,-0.2065,-0.2007
4,-0.34700,-0.52930,0.5327,0.4720,-0.09686,0.2605,-0.52300,-0.208600,0.2172,0.1271,...,-0.1390,0.25070,0.56800,0.08923,0.53760,-0.3130,0.6587,-0.1564,-0.2742,0.3108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3548,-0.08716,0.11300,0.3005,-0.2712,0.58540,0.5390,0.09730,0.521000,-0.1451,-0.5605,...,0.5347,-0.13120,0.45260,0.04926,0.12060,-0.5537,0.4421,-0.7260,-0.4878,0.3875
3549,-0.44850,0.39040,0.2570,-0.2183,0.04860,-0.1182,-0.30830,0.392000,0.2940,-0.4870,...,0.5903,-0.26800,0.37920,-0.09940,0.38400,-0.2795,-0.1854,-0.1653,-0.3790,0.2583
3550,-0.09344,0.10126,0.2980,-0.2659,0.58450,0.5425,0.09015,0.526000,-0.1498,-0.5547,...,0.5283,-0.12250,0.45780,0.05313,0.12286,-0.5625,0.4536,-0.7290,-0.4868,0.3936
3551,-0.10065,0.08264,0.2407,-0.2930,0.56400,0.5140,0.10580,0.552000,-0.1504,-0.5435,...,0.5195,-0.11395,0.46900,0.05908,0.09300,-0.5960,0.4807,-0.7334,-0.4863,0.4248
3552,-0.13940,0.21100,0.3090,-0.3154,0.55700,0.4998,0.07635,0.554000,-0.1146,-0.5835,...,0.5728,-0.12510,0.46950,0.05860,0.16590,-0.5590,0.3838,-0.7150,-0.5090,0.3894

In [18]:
Y_train

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cellmembrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3548,0,0,0,0,0,0,0,0,1,0,0
3549,0,0,0,0,0,0,0,0,1,0,0
3550,0,0,0,0,0,0,0,0,1,0,0
3551,0,0,0,0,0,0,0,0,1,0,0
3552,0,0,0,0,0,0,0,0,1,0,0

In [19]:
col=[]
for m in Y_train.columns:
    col.append(m)

In [20]:
trainMM.fillna(0,inplace=True)
testMM.fillna(0,inplace=True)

In [21]:
# from sklearn.svm import SVC
# knn=SVC()
# knn.fit(trainMM, Y_train[col[0]])

In [22]:
# hi

In [23]:
# print(knn.score(trainMM, Y_train[col[0]]))

In [24]:
# print(knn.score(testMM, Y_test[col[0]]))

In [25]:

models=[]
from sklearn.svm import SVC
for i in range(len(col)):
    knn=SVC()
    knn.fit(trainMM, Y_train[col[i]]) 
    # print(models.predict(X2))
    models.append(knn)

In [26]:
for i in range(len(models)):
    print(models[i].score(trainMM, Y_train[col[i]]))

0.9895862651280608
0.9065578384463834
0.9445538981142696
0.9687587953841824
0.9659442724458205
0.9301998311286237
0.933577258654658
0.9620039403321137
0.9575007036307346
0.9696031522656909
0.9873346467773713

In [27]:
dd1=[]
for i in range(len(models)):
    dd1.append(models[i].predict(trainMM))

In [28]:
data_f1 = pd.DataFrame(dd1,index=Y_train.columns)

In [29]:
data_f1=data_f1.transpose()

In [30]:
data_f1

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cellmembrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3548,0,0,0,1,0,0,0,0,0,0,0
3549,0,0,0,0,0,0,0,0,0,0,0
3550,0,0,0,1,0,0,0,0,0,0,0
3551,0,0,0,1,0,0,0,0,0,0,0
3552,0,0,0,1,0,0,0,0,0,0,0

In [31]:
Y_train

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cellmembrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3548,0,0,0,0,0,0,0,0,1,0,0
3549,0,0,0,0,0,0,0,0,1,0,0
3550,0,0,0,0,0,0,0,0,1,0,0
3551,0,0,0,0,0,0,0,0,1,0,0
3552,0,0,0,0,0,0,0,0,1,0,0

In [32]:
sum1=0
for i in range(len(Y_train)):
    c=0
    for j in range(len(Y_train.iloc[i])):
        if Y_train.iloc[i][j]==data_f1.iloc[i][j]:
            c+=1
    sum1=sum1+c/len(Y_train.iloc[i])

sum1/len(Y_train)

0.9559655093007388

In [33]:
sum=0
for i in range(len(Y_train)):
    sum+=(data_f1.iloc[i,:]==Y_train.iloc[i,:]).all()
sum/len(Y_train)

0.6639459611595835

In [34]:
testMM

,Feat1,Feat2,Feat3,Feat4,Feat5,Feat6,Feat7,Feat8,Feat9,Feat10,...,Feat1015,Feat1016,Feat1017,Feat1018,Feat1019,Feat1020,Feat1021,Feat1022,Feat1023,Feat1024
0,-0.55700,0.044040,0.6514,0.6045,0.40190,0.4640,-0.63670,0.1377,0.1777,-0.2780,...,0.2880,-0.2194,0.07855,-0.37280,0.5913,0.1893,-0.3590,0.05762,-0.2605,-0.16970
1,-0.56840,0.040950,0.6450,0.6035,0.38650,0.4540,-0.65040,0.1455,0.1702,-0.2656,...,0.2844,-0.2106,0.08844,-0.35500,0.5980,0.1642,-0.3557,0.04460,-0.2495,-0.16980
2,-0.55600,0.022340,0.6400,0.6060,0.40430,0.4731,-0.63530,0.1548,0.1599,-0.2650,...,0.2737,-0.2067,0.08500,-0.36500,0.5835,0.1569,-0.3315,0.03240,-0.2554,-0.15690
3,-0.52700,0.085940,0.6470,0.5830,0.44210,0.3982,-0.60060,0.0314,0.1635,-0.3362,...,0.3470,-0.3013,0.03170,-0.42460,0.5347,0.3145,-0.4663,0.17200,-0.2554,-0.22130
4,-0.55270,0.000339,0.6450,0.6245,0.39430,0.4570,-0.64360,0.0969,0.1777,-0.2435,...,0.2512,-0.2333,0.04678,-0.38480,0.5815,0.2227,-0.3662,0.09186,-0.2289,-0.18860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,-0.50540,0.339800,0.2017,-0.1703,-0.08484,-0.2286,-0.40400,0.3372,0.3445,-0.4023,...,0.5450,-0.3190,0.33760,-0.12170,0.3923,-0.2241,-0.2559,-0.02386,-0.2773,0.27800
622,-0.26830,0.145900,0.5720,0.3540,0.34030,0.2153,-0.29170,-0.1770,0.3696,-0.4006,...,0.3809,-0.4697,-0.09150,-0.47850,0.3547,0.5146,-0.4753,0.33800,-0.2406,-0.13810
623,-0.05045,0.054500,0.3767,-0.2064,0.58200,0.5900,0.08510,0.4456,-0.1163,-0.5280,...,0.4827,-0.1203,0.43000,0.05438,0.1610,-0.4944,0.4702,-0.71340,-0.4663,0.37330
624,-0.05963,0.084840,0.4100,-0.1725,0.60300,0.5960,0.06793,0.4314,-0.1179,-0.5480,...,0.5024,-0.1256,0.42380,0.02646,0.1809,-0.4640,0.4263,-0.69800,-0.4788,0.33570
625,-0.05380,-0.138100,0.4844,0.3684,0.49050,0.3105,-0.09045,-0.2524,0.2356,-0.3833,...,0.2990,-0.4697,-0.06700,-0.49120,0.1156,0.4446,-0.2069,0.19730,-0.2522,-0.08466

In [35]:
Y_test

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cell membrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
621,0,0,0,0,0,0,0,0,1,0,0
622,0,0,0,0,0,0,0,0,1,0,0
623,0,0,0,0,0,0,0,0,1,0,0
624,0,0,0,0,0,0,0,0,1,0,0
625,0,0,0,0,0,0,0,0,1,0,0

In [36]:
dd2=[]
for i in range(len(models)):
    dd2.append(models[i].predict(testMM))

In [37]:
data_f2 = pd.DataFrame(dd2,index=Y_train.columns)

In [38]:
data_f2=data_f2.transpose()

In [39]:
data_f2

,Cellwall,Cytoplasm,Nucleus,Extracellular,Cellmembrane,Mitochondrion,Plastid,Endoplasm,Vacuole,Golgi Apparatus,Peroxisome
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
621,0,0,0,0,0,0,0,1,0,0,0
622,0,0,0,0,0,0,0,0,0,0,0
623,0,0,0,1,0,0,0,0,0,0,0
624,0,0,0,1,0,0,0,0,0,0,0
625,0,0,0,0,0,0,0,0,1,0,0

In [40]:
len(Y_test.iloc[i])

11

In [41]:
sum1=0
for i in range(len(Y_test)):
    c=0
    for j in range(len(Y_test.iloc[i])):
        if Y_test.iloc[i][j]==data_f2.iloc[i][j]:
            c+=1
    sum1=sum1+c/len(Y_test.iloc[i])

sum1/len(Y_test)

0.948446122567531

In [43]:
data_f2.columns

Index(['Cellwall', 'Cytoplasm', 'Nucleus', 'Extracellular', 'Cellmembrane',
       'Mitochondrion', 'Plastid', 'Endoplasm', 'Vacuole', 'Golgi Apparatus',
       'Peroxisome'],
      dtype='object')

In [44]:
Y_test.columns

Index(['Cellwall', 'Cytoplasm', 'Nucleus', 'Extracellular', 'Cell membrane',
       'Mitochondrion', 'Plastid', 'Endoplasm', 'Vacuole', 'Golgi Apparatus',
       'Peroxisome'],
      dtype='object')

In [45]:
Y_test.rename(columns=dict(zip(Y_test.columns, data_f2.columns)), inplace=True)

In [46]:
sum=0
for i in range(len(Y_test)):
    sum+=(data_f2.iloc[i,:]==Y_test.iloc[i,:]).all()
sum/len(Y_test)

0.5175718849840255